<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
	th:replace="normal/userbase::layout(~{::section})" >

<head>
<meta charset="ISO-8859-1">
<title></title>
</head>
<body>
	<section>
		<div class="card mr-3 ml-3">
			<div class="card-body" th:if="${contacts}">
				<div class="container text-center">
					<img
						alt="profilePhote" 
						th:src="@{'/images/'+${contacts.contactImage}}" 
						class="my-profile-picture"
						style="height:200px;width:200px;"
					/>
					<h3 
						class="mt-3"
						th:text="${contacts.firstName+' '+contacts.lastName}"
						>
					</h3>
				
				</div>
			</div>
			<div class="container" th:unless="${contacts}">
				<h1>Your don't have permission for this contact.</h1>
			</div>
		</div>
		
	</section>
 
</body>
</html>